# Pandas
Pandas is a fast, powerful, flexible, and easy-to-use open-source data analysis and manipulation tool, built on top of the Python programming language.

In [22]:
import pandas as pd

# Create a simple Series
data = [10, 20, 30, 40]
s = pd.Series(data)

print(s)

0    10
1    20
2    30
3    40
dtype: int64

In [23]:
import numpy as np

data = np.array([
    ["month", "income", "spending"],
    ["January", 4200, 3500],
    ["February", 4300, 3600],
    ["March", 4100, 3200],
    ["April", 4500, 3800],
    ["May", 4700, 4000],
    ["June", 4600, 3900],
    ["July", 4400, 3700],
    ["August", 4800, 4100],
    ["September", 4500, 3800],
    ["October", 4300, 3600],
    ["November", 4600, 3900],
    ["December", 5000, 4200]
])

**Converting to DataFrame (skip header row)**

In [24]:
# Data Frame
data_content = data[1:] # Starting from the first index
columns = data[0] # Just the first index
df = pd.DataFrame(data_content, columns=columns)

# Converting to numerical values first
df["income"] = pd.to_numeric(df["income"])
df["spending"] = pd.to_numeric(df["spending"])

print(df)

        month  income  spending
0     January    4200      3500
1    February    4300      3600
2       March    4100      3200
3       April    4500      3800
4         May    4700      4000
5        June    4600      3900
6        July    4400      3700
7      August    4800      4100
8   September    4500      3800
9     October    4300      3600
10   November    4600      3900
11   December    5000      4200

*Data Manipulation*

In [25]:
# Adding a savings column
df["savings"] = df["income"] - df["spending"]
income_tax_rate = 0.18 # 18%, fictional only
df["income_after_tax"] = df["income"] * (1 - income_tax_rate)

# Shows the data frame with new columns
print(df)

        month  income  spending  savings  income_after_tax
0     January    4200      3500      700            3444.0
1    February    4300      3600      700            3526.0
2       March    4100      3200      900            3362.0
3       April    4500      3800      700            3690.0
4         May    4700      4000      700            3854.0
5        June    4600      3900      700            3772.0
6        July    4400      3700      700            3608.0
7      August    4800      4100      700            3936.0
8   September    4500      3800      700            3690.0
9     October    4300      3600      700            3526.0
10   November    4600      3900      700            3772.0
11   December    5000      4200      800            4100.0

## Some Aggregated functions:
- `sum()`
- `count()`
- `min()`
- `max()`
- `median()`
- `std()`
- `var()`
- `mode()`